.q-drawer,
.q-header,
.q-page-container,
.q-item {
  transition: all 0.3s;
}

.q-drawer .q-item {
  justify-content: left !important;
  padding-left: 15px !important;
}

.menu-list .q-item {
  border-radius: 0 32px 32px 0;
}
